.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .payment-modal {
    background: white;
    border-radius: 12px;
    width: 500px;
    padding: 24px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.2s ease-in-out;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    margin-left: 14px;
    margin-right: 14px;
  }
  
  .modal-header .modal-title {
    font-weight: 300;
  }
  
  .modal-header .invoice-info {
    font-weight: 600;
    margin-left: 10px;
  }
  
  .modal-header button {
    background: none;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
  }

  .payment-modal .line-separator {
    border: none;
    border-bottom: 1px solid #BFBEBE;
    margin: 20px 0;
    margin-bottom: 10px;
  }
  
  .modal-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
  }
  
  .balance-row {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-text);
    margin-bottom: 4px;
  }
  
  .total-payments-row {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 300;
    color: var(--color-lighttext); 
    margin-bottom: 30px;
  }

  .payment-method-section {
    background-color: #FAFAFA;  
    border: 1px solid #DDDDDD;    
    border-radius: 8px;
    padding: 20px 12px 30px 12px;
    margin-bottom: 30px;
  }
  
  .method-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .payment-method-section .label{
    color: var(--color-lighttext);
    font-size: 12px;
  }
  
  .method-options label {
    background-color: white;  
    padding: 12px 12px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;   
    font-size: 14px;
    font-weight: 600;
  }

  .method-options .label-content {
    display: flex;
    align-items: center;
  }
  
  input[type="radio"] {
    accent-color: var(--color-secondary2);
  }

  .method-options input {
    margin-right: 10px;    
  }

  .method-options .icon {
    margin-right: 8px;
    color: #6F6F6F ;
    font-size: 1rem;
  }

  
  .input-group{
    font-size: 14px;
    background-color: #ffff;
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
  }
  .input-group label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    background-color: #F8F8F8;
    color: var(--color-text); 
    padding: 15px 15px;
    margin: -20px -20px 15px -20px; 
    border-radius: 8px 8px 0 0;
  }
  
  .input-group input {
    width: 100%;
    padding: 8px 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: var(--color-text);
  }

  .input-group input:focus {
    border-color: var(--color-text); 
    outline: none;        
    box-shadow: 0 0 0 2px var(--color-accent); 
  }
  
  .modal-actions {
    display: flex;
    flex-direction: column;

    gap: 10px;
    margin-top: 20px;
  }
  
  .pay-btn {
    background-color: var(--color-secondary2);
    color: white;
    padding: 12px 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .cancel-btn {
    background: transparent;
    border: 1px solid #ccc;
    color: #333;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  