
.main-layout {
  display: flex; 
  height: 100vh;
  margin-top: 0; 
  gap: 60px;
}

.patient-billing-container {
    padding: 20px;
    background-color: #ffffff;
    flex-grow: 1;
    margin-right: 60px;
    margin-top: 30px;
  }
  
  .stats-container {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap;
  }
  
  .stat-card {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
    flex: 1;
    min-width: 250px;
  }
  
  .stat-card p {
    margin: 0;
    color: #666;
    font-size: 14px;
  }
  
  .stat-card h3, .stat-card h2 {
    margin: 5px 0;
  }
  
  .stat-card.blue {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--color-primary);
    border-left: 6px solid var(--color-primary);
    background-color: var(--color-accent);
    gap: 50px;
    padding: 40px;
  }
  
  .stat-card.gray {
    border: 1px solid #adb5bd;
    border-left: 6px solid #adb5bd;
    padding-left: 50px;
  }
  
  .invoice-section {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
  }
  
  .invoice-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 15px;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .invoice-section .invoice-title {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-primary);
  }
  
  .invoice-header input[type="text"] {
    padding: 15px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 340px;
    font-size: 14px;
  }
  
  .actions {
    display: flex;
    gap: 10px;
  }
  
  .export-btn, .add-btn {
    padding: 10px 14px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    width: 150px;
  }
  
  .export-btn {
    background-color:  var(--color-secondary2);
    color: white;
  }
  
  .add-btn {
    background-color: var(--color-secondary2);
    color: white;
  }
  
  .invoice-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    margin-top: 15px;
  }
  
  .invoice-table thead {
    background-color: #ffffff;
  }
  
  .invoice-table th, .invoice-table td {
    text-align: left;
    padding: 20px 10px;
    border-bottom: 1px solid #eaeaea;
  }

  .invoice-table th{
    font-size: 14px;
  }
  
  .invoice-table td span.status {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 8px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    min-width: 100px; 
    text-align: center;
  }
  
  .status.paid {
    background-color: #e0f7e9;
    color: #2e7d32;
  }
  
  .status.partial {
    background-color: #fff4e5;
    color: #ff9800;
  }
  
  .status.voided {
    background-color: #fdecea;
    color: #FF6060;
  }
  
  .pagination {
    margin-top: 20px;
    text-align: right;
    color: #555;
    font-size: 14px;
  }
  