* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw; 
    height: 100vh;
}

.Login-Header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Login-Header img {
    margin-bottom: 30px;
    width: 239px;
}

.Login-Header h2 {
    font-size: 34px;
    font-weight: 600;
    color: var(--color-primary);
}

.Login-Form {
    display: flex;
    flex-direction: column;
    border: solid 1px;
    border-color: #BFBEBE;
    border-radius: 6px;
    padding: 30px;
    margin-top: 20px;
}

.login-input {
    display: flex;
    padding: 7px;
    margin: 10px;
    width: 250px;
}

.Login-Form input[type="text"], .Login-Form input[type="password"] {
    border: 1px solid #BFBEBE;
    border-radius: 6px;
    font-size: 12px;
    box-sizing: border-box;
}

.Login-Form button {
    display: flex;
    padding: 7px;
    margin: 10px;
    width: 250px;
    background-color: var(--color-secondary2);
    border: none;
    border-radius: 6px;
    justify-content: center;
    color: white;
    font-weight: bold;
}