.dashboard-container {
  padding: 2rem;
  color: #333;
  background-color: #fff;
  min-height: 100vh;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.dashboard-header select {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.export-btn {
  background-color: #1c7ed6;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.95rem;
  border-radius: 4px;
  cursor: pointer;
}

.card-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  min-width: 200px;
  padding: 2rem;
  border-radius: 8px;
  color: var(--color-text);
}

.card-container .card.gray {
  border: 1px solid #E0E0E0;
  border-left: 6px solid #E0E0E0;
  background-color: #ffffff;
}

.card-container .card.blue {
  background-color: #F2FBFF;
}

.card p {
  padding-left: 20px;
  color: #666;
  font-size: 14px;
}

.card-container span{
  padding-left: 20px;
  font-size: 24px;
  font-weight: bold ;
}

.trend-badge {
  color: white;
  font-weight: 500;
  padding: 0.2rem 0.6rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  gap: 4px;  
  max-width: 70px;

}

.trend-indicator {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  padding-left: 20px;
  gap: 0;
}

.trend-indicator .trend-badge {
  background-color: #60D164;
}

.card.blue .trend-badge {
  background-color: #008FDA;
  margin-top: 0.5rem;
  margin-left: 20px;
}

.trend-indicator p {
  margin: 0; 
  padding-left: 6px;  
}

.dashboard-container .line-separator {
    border: none;
    border-bottom: 1px solid #BFBEBE;
    margin: 40px 0;
    margin-bottom: 50px;
  }


.summary-and-chart {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.summary-and-chart h4{
  font-size: 16px;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 0.8rem;
  text-align: left;
}

.left-column {
  flex: 1.5;
}

.summary-table {
  margin-bottom: 2rem;
}

.summary-table table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05); */
}

.summary-table th,
.summary-table td {
  font-size: 0.875rem;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #dee2e6;
  text-align: left;
}

.summary-table th {
  background-color: #F8F8F8;
  font-weight: 600;
}

.discounts-card {
  background-color: #ffff;
  padding: 1rem;
  margin-bottom: 2rem;
}

.discounts-card h3{
  font-weight: 600;
  font-size: 16px;
  color: var(--color-primary);
  
} 

.discounts-card p{
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0.3rem;
} 

.discounts-content {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); */
}

.discount-box {
  flex: 1;
  text-align: center;
}

.divider {
  border-left: 1px solid #e0e0e0;
}

.right-column {
  flex: 1;
  text-align: center;
}

.chart-container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
}


/* .footnote {
  font-style: italic;
  color: #495057;
  font-size: 12px;
  text-align: left;
} */

.footnote {
  display: flex;
  align-items: center;
  background-color: #f8f9fa; /* light gray */
  border-radius: 8px;
  padding: 6px;
  gap: 0.75rem;
  max-width: 700px;
}

.footnote-icon {
  background-color: #FF6060; 
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 6px 0 0 6px;
  margin: -5px 0 -5px -5px; 
}

.footnote p {
  margin: 0;
  font-size: 12px;
  color: #495057;
  font-style: italic;
}